.App {
  text-align: center;
  background-image: url(./assets/GenieQuest.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-attachment: fixed; */
  /* background-size: cover; */
  height: 450vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.body {
  display: flex;
  flex-direction: column;
}
.msg {
  width: auto;
  height: 230vh;
}
.msgConatiner {
  position: relative;
  /* background-image: url(./assets/msg2.png); */
  background-image: url(./assets/bgAndCLose.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 90vw;
  height: 350vh;
  object-fit: contain;
  margin-top: 10vh;
}
.msgConatiner_body {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0vh;
  left: 0;
  z-index: 999;
  margin-top: 2rem;
}
/* .msgConatiner {
  position: relative;
} */

.btn {
  position: absolute;
  top: 18%;
  right: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  color: darkblue;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
}
.btnImg {
  width: 300px;
  margin-right: 2rem;
}
.btn p {
  margin: 0;
}
.innerBtn {
  position: relative;
}
.innerBtnText {
  position: absolute;
  top: 30%;
  right: 35%;
  font-size: 2rem;
  font-weight: bold;
  color: darkblue;
}

.close {
  position: absolute;
  top: 50vh;
  right: -15vh;
  width: 150px;
}
.textContainer {
  position: absolute;
  top: 10%;
  /* right: 10vh; */
  /* width: 80vw; */
}
.mint {
  position: absolute;
  background-image: url(./assets/text.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80vw;
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: 60vh;
  color: yellow;
  z-index: 99999;
  padding-top: 15vh;
}
.emptyText {
  margin-top: -180vh;
}
.starList {
  position: absolute;
  bottom: 25%;
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.star {
  width: 100px !important;
  height: 100px !important;
  object-fit: contain;
  /* left: 0; */
}
@media only screen and (max-width: 1024px) {
  .App {
    /* background-attachment: fixed; */
    height: 160vh;
  }
  .msg {
    height: 7vh;
  }
  .btnImg {
    width: 150px;
  }
  .btn {
    top: 18%;
    right: 25%;
    font-size: 0.7rem;
    padding-top: 1rem;
  }
  .innerBtnText {
    font-size: 1rem;
  }
  .star {
    width: 80px !important;
    height: 80px !important;
    object-fit: contain;
  }
  .msgConatiner {
    width: 85vw;
    height: 120vh;
    margin-top: 5vh;
    object-fit: contain;
  }
  .mint {
    width: 250%;
    height: 55vh;
    top: 10vh;
  }
  .btnImg {
    width: 100px;
    margin-right: 2rem;
  }
  .btn {
    font-size: 0.7rem;
  }
  .innerBtn p {
    font-size: 0.9rem;
  }
  .emptyText {
    margin-top: -70vh;
    width: 100%;
    /* height: 55vh; */
  }
  .innerMint {
    margin-top: 6vh;
    color: darkblue;
  }
  .starList {
    bottom: 23%;
    left: 40%;
  }
}
@media only screen and (max-width: 768px) {
  .App {
    /* background-attachment: fixed; */
    height: 150vh;
  }
  .msg {
    height: 7vh;
  }
  .btnImg {
    width: 150px;
  }
  .btn {
    top: 18%;
    right: 18%;
    font-size: 0.7rem;
    padding-top: 0.9rem;
  }
  .innerBtnText {
    font-size: 1rem;
  }
  .star {
    width: 80px !important;
    height: 80px !important;
    object-fit: contain;
  }
  .msgConatiner {
    width: 85vw;
    height: 120vh;
    margin-top: 5vh;
    object-fit: contain;
  }
  .mint {
    width: 180%;
    height: 54vh;
    top: 12vh;
    font-size: 0.5rem;
  }
  .btnImg {
    width: 100px;
    margin-right: 2rem;
  }
  .btn {
    font-size: 0.7rem;
  }
  .innerBtn p {
    font-size: 0.9rem;
  }
  .emptyText {
    margin-top: -70vh;
    width: 100%;
    /* height: 55vh; */
  }
  .innerMint {
    margin-top: 6vh;
  }
  .starList {
    bottom: 23%;
    left: 35%;
  }
}
@media only screen and (max-width: 450px) {
  .App {
    /* background-attachment: fixed; */
    height: 150vh;
  }
  .msg {
    height: 7vh;
  }
  .btnImg {
    width: 60px !important;
    margin-right: 1rem !important;
  }
  .btn {
    top: 16%;
    right: 24%;
    font-size: 0.3rem !important;
  }
  .innerBtnText {
    font-size: 0.5rem !important;
  }
  .star {
    width: 40px !important;
    height: 40px !important;
    object-fit: contain;
  }
  .msgConatiner {
    width: 85vw;
    height: 105vh;
    margin-top: 5vh;
    object-fit: contain;
  }
  .mint {
    width: 250%;
    height: 48vh;
    top: 6vh;
    font-size: 0.3rem !important;
  }
  .btnImg {
    width: 100px;
    margin-right: 2rem;
  }
  .btn {
    font-size: 0.7rem;
  }
  .innerBtn p {
    font-size: 0.9rem;
  }
  .emptyText {
    margin-top: -55vh;
    width: 100%;
    /* height: 55vh; */
  }
  .innerMint {
    margin-top: 6vh;
  }
  .starList {
    bottom: 25%;
    left: 35%;
  }
}
@media only screen and (max-width: 400px) {
  .App {
    /* background-attachment: fixed; */
    height: 160vh;
  }
  .msg {
    height: 7vh;
  }
  .btnImg {
    width: 60px !important;
    margin-right: 1rem !important;
  }
  .btn {
    top: 16%;
    right: 22%;
    font-size: 0.3rem !important;
  }
  .innerBtnText {
    font-size: 0.5rem !important;
  }
  .star {
    width: 40px !important;
    height: 40px !important;
    object-fit: contain;
  }
  .msgConatiner {
    width: 85vw;
    height: 120vh;
    margin-top: 5vh;
    object-fit: contain;
  }
  .mint {
    width: 250%;
    height: 48vh;
    top: 12vh;
    font-size: 0.3rem !important;
  }
  .btnImg {
    width: 100px;
    margin-right: 2rem;
  }
  .btn {
    font-size: 0.7rem;
  }
  .innerBtn p {
    font-size: 0.9rem;
  }
  .emptyText {
    margin-top: -60vh;
    width: 100%;
    /* height: 55vh; */
  }
  .innerMint {
    margin-top: 6vh;
  }
  .starList {
    bottom: 25%;
    left: 35%;
  }
}
